:root{
  --mainFont: 'Architects Daughter', cursive;
  --secondFont : 'Montserrat', sans-serif;
 --black : #0a3d62;
 --blue:#4a69bd;
 --red:#ff4757;
 --white:#f5f6fa;
 --yellow :#f8efba;
 --mainTransition: 0.5s all ease;
}
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  background :var(--yellow);
  color: var(--black);
  font-family: var(--mainFont);
}